button{
  border-radius: 5px;
}
.header{
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.logo {
  max-width: 100px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    background-image: url(img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

header .link-image,
header .button-image {
  width: 30px;
  transition: 0.2s ease-in-out;
}

header #theme-button {
  background: none;
  border: none;
}

header .link-image:hover,
header .button-image:hover,
main .pokemon-card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

main {
  padding: 20px;
}

main #pokemon-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

main .pokemon-card {
  background-image: url(img/tallgrass.jpg);
  background-size: cover;
  width: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  border-radius: 15px;
  transition: 0.2s ease-in-out;
}

main .pokemon-card:hover {
  background-color: #96d9d6;
}

main .pokemon-card .informations {
  display: flex;
  justify-content: space-between;
  border: 1px solid #333333;
  border-radius: 15px;
}

main .pokemon-card .informations span {
  padding: 5px;
  text-transform: uppercase;
  font-size: 18px;
}

main .pokemon-card .gif {
  width: 90px;
  height: 90px;
}

main .pokemon-card .types {
  display: flex;
  gap: 15px;
}

main .pokemon-card .types .type {
  padding: 8px;
  border-radius: 10px;
  text-transform: capitalize;
}

.grass {
  background-color: #5dbe25;
}

.poison {
  background-color: #a33ea1;
}

.water {
  background-color: #6390f0;
}

.fire {
  background-color: #ee8130;
}

.steel {
  background-color: #b7b7ce;
}

.flying {
  background-color: #a98ff3;
}

.normal {
  background-color: #a8a77a;
}

.electric {
  background-color: #f7d02c;
}

.ice {
  background-color: #96d9d6;
}

.fighting {
  background-color: #c22e28;
}

.ground {
  background-color: #e2bf65;
}

.psychic {
  background-color: #f95587;
}

.rock {
  background-color: #b6a136;
}

.ghost {
  background-color: #735797;
}

.dragon {
  background-color: #6f35fc;
}

.dark {
  background-color: #705746;
}

.fairy {
  background-color: #d685ad;
}

.bug {
  background-color: #a6b91a;
}

main .description {
  max-height: 80px;
  overflow-y: scroll;
  font-size: 15px;
  padding-right: 10px;
}
